.App {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#navDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navLi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#weatherCard {
  background-color: red;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 430px;
  border-style: solid;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 20px;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#extraInfo {
  display: flex;
  flex-direction: row;
}

#profile {
  display: flex;
  margin-top: -90px;
  flex-direction: column;
  align-items: center;
}

#profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
